@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
*{
    margin: 0;
    padding: 0;
    
}

.all{
    background-image: url('images/clothes.avif');
    background-size: cover;          
    background-position: center;     
    min-height: 80vh;              
    color: black;  
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    
    font-style: normal;                 

}

.CompanyName{
    color: aliceblue;
    font-size: xx-large;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: larger;
    
}

.links{
    display: flex;
    gap: 4rem;
    background: transparent;
    position: relative;
    a{
        text-decoration: none;
        color: white;
        font-weight: 700;
        
    }

}

.home{
    text-align: center;
    font-size: large;
    align-items: center;
    justify-content: baseline;
    
    p{
        margin-bottom: 20px;
        color: white;
    }
}

#home{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    position: relative;
    bottom: 100;
}

h2{
    margin-bottom: 5px;
}

.shop{
    text-decoration: none;
    border: 3px solid white;
    font-size:xx-large;
    color: black;
}

.shop:hover{
    color: black; 
  background: white;       
  border-color: white;
    
}

#about{
    background-image: url'(images/clothes.avif)';
    text-align: center;
    background-size: cover;          
    background-position: center;
}


