@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
body {
    margin: 0;
    
}
nav {
    background:black;
    color: white;
    padding: 0px;
    position: fixed; 
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content {
    margin-top: 60px; 
    padding: 20px;
    min-height: 100vh;
}
footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 20px;
}

.all{
    background-image: url('images/clothes.avif');
    background-size: cover;          
    background-position: center;     
    min-height: 100vh;              
    color: black;  
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-style: normal;                 

}

.CompanyName{
    color: aliceblue;
    font-size: xx-large;
    margin: 20px;
}

.nav-links{
    display: flex;
    gap: 15px;

    a{
        text-decoration: none;
        color: white;
    }
}






.home{
    text-align: center;
    font-size: large;
    align-items: center;
    justify-content: baseline;
    
    p{
        margin-bottom: 20px;
        color: white;
    }
}

#home{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    position: relative;
    bottom: 100;
}

h2{
    margin-bottom: 5px;
}

.shop{
    text-decoration: none;
    border: 3px solid white;
    font-size:xx-large;
    color: black;
}

.shop:hover{
    color: black; 
  background: white;       
  border-color: white;
    
}

#about{
    background-image: url('images/waaaa.avif');
    text-align: center;
    background-size: cover;          
    background-position: center;
    min-height: 100vh;
    border-top: 50px solid black;
}

#about p{
    color: aliceblue;
}

#about h2 p{
    justify-content: center;
    font-size: xx-large;
}

#products h2 {
    text-align: center;
    margin-bottom: 2rem;
  }

  #products{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    background-color: black;
    border-top: 30px solid white;
    
  }

  .single-product{
    max-width: 300px;
    text-align: center;
    padding: 20;
    color: white;
  }

  .single-product img{
    width: 100%;
    height: auto;
    max-width: 300px;
  }

  .category h3 {
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
  }  

  #footer {
    background: black;
    color: white;
    text-align: center;
    padding: 2rem 1rem;
    margin-top: 2rem;
    
  }
  


